.footer {
  background-color: #222;
  color: white;
  padding: 50px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.logoContainer {
  width: 10%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.linksContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.link {
  color: #888;
  text-decoration: none;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 20px;
  color: #888;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footerContent {
    flex-direction: column;
  }

  .logoContainer {
    width: 100%;
    margin-bottom: 30px;
  }

  .linksContainer {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .linksColumn {
    width: 100%;
  }
}