.hero {
      display: flex;
      justify-content: center; /* Center the content horizontally */
      align-items: center;
      background-color: #f8f5f2;
      padding: 50px;
    }

    .heroContent {
      max-width: 60%;
      margin-right: 20px; /* Add some margin to separate from the image */
    }

    .heroTitle {
      font-size: clamp(2.5rem, 3.9vw, 5.5rem);
      margin-bottom: 30px;
      line-height: 1.2;
    }

    .underline {
      text-decoration: underline;
    }

    .cards {
      display: flex;
      gap: 20px;
    }

    .card {
      background-color: white;
      align-content: space-between;
      border-radius: 24px;
      display: grid;
      justify-items: start;
      padding: var(--gutter-x);
      width: 100%;
    }

    .cardTitle {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: calc(var(--gutter-y)* .5);
      text-transform: uppercase;
      font-weight: 600;
    }

    .cardText {
      margin-top: calc(var(--gutter-y)* .25);
    }


    .cardButton {
      padding: 10px 20px;
      border: 1px solid #222;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      margin-top: calc(var(--gutter-y)* .5);
      width: 100%;
    }

    .cardButton:first-of-type {
      background-color: #222;
      color: white;
    }

    @media (max-width: 768px) {
      .hero {
        flex-direction: column;
        padding-left: var(--gutter-cap);
        padding-right: var(--gutter-cap);
      }

      .heroContent {
        max-width: 100%;
        margin-bottom: 30px;
        margin-right: 0; /* Remove margin on small screens */
        padding-right: 0;
      }

      .heroTitle {
        font-size: 1.72rem;
        margin-bottom: 30px;
        line-height: 1.2;
      }

      .cards {
        flex-direction: column;
      }

      .card {
        width: auto;
      }

      .heroImage {
        width: 60%;
        display: none;
      }
  
    }
    


      