.workWithUs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      background-color: #f8f5f2;
    }

    .imageContainer {
      width: 50%;
      padding-right: 20px;
    }

    .officeImage {
      width: 100%;
      border-radius: 10px;
    }

    .content {
      width: 40%;
      text-align: left;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1rem;
      margin-bottom: 30px;
      color: #333;
    }

    .openRolesButton {
      padding: 10px 20px;
      border: 1px solid #222;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
    }
